
<div class="sketchCard">
    <a href="@SketchLink">
        <img src="@ImageSource" alt="Thumbnail"/>
    </a>

    <div class="sketchInfo">
        <h2>@Title</h2>
        <p>@Blurb</p>
    </div>
</div>

@code {

    [Parameter] public string? Title { get; set; } = "Example Title";

    [Parameter] public string? Blurb { get; set; } = "Example body.";

    [Parameter] public string? ImageSource { get; set; } = "images/my_profile.png";

    [Parameter] public string? SketchLink { get; set; } = "#";
}