.content {
    background: var(--matcha-secondary);
    border-radius: 0.75rem;
    width: fit-content;
    min-width: 29%;
    min-height: 12rem;
    padding: 2rem;
    margin: 2rem;
    display: grid;
    grid-template:
    'blurb blurb blurb blurb'
    'blurb blurb blurb blurb'
    'infoCard infoCard infoCard infoCard';
    
    filter: drop-shadow(0px 8px 6px rgba(0, 0, 0, 0.25));
}

.content p {
    grid-area: blurb;
    color: var(--dark-text-color);
    font-size: 1.125rem;
    font-weight: 400;
}

.infoCard {
    grid-area: infoCard;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}

.info {
    max-height: 64px;
}

.info > p {
    margin: 0;
    padding-left: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.info > p:first-child {
    color: var(--dark-text-color);
}
.info > p:last-child {
    color: var(--dark-subtext-color);
}

img {
    max-width: 64px;
    max-height: 64px;
}

a {
    text-decoration: none;
}