@page "/sketches"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<h3>Sketches</h3>
<button class="btn-primary" @onclick="InitializeTest">Click Me</button>
<div @onloadend="InitializeTest" id='testSketch'></div>

@code {
    async void InitializeTest()
    {
        await JSRuntime.InvokeAsync<object>("initializeTest");
    }
}