@page "/games"

<PageTitle>Games</PageTitle>
<Copy PageTitle="Games"></Copy>
<div class="gamesGallery">
    <div class="galleryHeader">Gallery</div>
    <div class="gameCard">
        <button disabled="disabled">
            <i class="fa fa-arrow-left"/>
        </button>
        <a href="/games/multiples">
            <img src="images/2048_snapshot.png" alt="Some Game"/>
        </a>
        <button disabled="disabled">
            <i class="fa fa-arrow-right"/>
        </button>
    </div>
</div>

@code {
    
}