@inherits LayoutComponentBase

<div class="header">
    <NavMenu/>
</div>
<div class="page">
    <main>
        @Body
    </main>
</div>
@* TODO: Add a footer once more projects allow for the full desgin process *@
