<nav class="nav">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            Shay Romayo's Portfolio
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="sketches">
            Sketches
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="games">
            Games
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="https://github.com/ShayRomayo">
            Github Projects
        </NavLink>
    </div>
    @* TODO: Create a button that goes to a random project *@
</nav>
@code {

}